{% extends 'base.html.twig' %}

{% block title %}Les chiffres du COVID-19 en France
{% endblock %}

{% block body %}

	<div>
		<h1 class="title">Les chiffres du COVID-19 en France</h1>
		<h6 class="subtitle_source">Source :  Santé publique France</h6>
		<h6 class="subtitle_update">Mise à jour le : {{data.0.date|date("d/m/Y")}}</h6>
	</div>
	<div class="album mt-5">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Nombre de cas positifs 24</h5>
						<p class="card-text">Nombre de cas déclarés positifs au cours des dernières 24h<br></p>
					</div>
					<h3 class="card-footer bg-secondary text-light text-grey mx-2 rounded-pill">{{data.0.conf_j1}}</h3>
				</div>
			</div>
			
			<div class="col">
				<div class="card shadow-sm h-100">
					<div class="card-body">
						<h5 class="card-title">Nombre d’hospitalisations 24h</h5>
						<p class="card-text">Nombre de personnes hospitalisée au cours des dernières 24h</p>
					</div>
					<h3 class="card-footer bg-warning text-light mx-2 rounded-pill">{{data.0.incid_hosp}}</h3>
				</div>
			</div>

			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Nombre total d'hospitalisation</h5>
						<p class="card-text">Nombre total de personnes actuellement hospitalisée</p>
					</div>
					<h3 class="card-footer bg-warning text-light mx-2 rounded-pill">{{data.0.hosp}}</h3>
				</div>
			</div>

			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Nombre de personne en réanimation 24h</h5>
						<p class="card-text">Nouveaux de patients admis en réanimation au cours des dernières 24h</p>
					</div>
					<h3 class="card-footer bg-info text-light mx-2 rounded-pill">{{data.0.incid_rea}}</h3>
				</div>
			</div>

			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Nombre total réanimation</h5>
						<p class="card-text">Nombre total de personnes actuellement en réanimation</p>
					</div>
					<h3 class="card-footer bg-info text-light mx-2 rounded-pill">{{data.0.rea}}</h3>
				</div>
			</div>

			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Nombre de décès 24h</h5>
						<p class="card-text">Nombre de personnes décédés au cours des dernières 24h</p>
					</div>
					<h3 class="card-footer bg-dark text-light mx-2 rounded-pill">{{data.0.incid_dchosp}}</h3>
				</div>
			</div>

			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Nombre total de décès</h5>
						<p class="card-text">Nombre de personnes décédés depuis le début de la pandémie</p>
					</div>
					<h3 class="card-footer bg-dark text-light mx-2 rounded-pill">{{data.0.dc_tot}}</h3>
				</div>
			</div>

			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Nombre totale de guéris 24h</h5>
						<p class="card-text">Nombre de personnes guéris au cours des dernières 24h</p>
					</div>
					<h3 class="card-footer bg-success text-light mx-2 rounded-pill">{{data.0.incid_rad}}</h3>
				</div>
			</div>

			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Nombre totale de guéris</h5>
						<p class="card-text">Nombre de personnes guéris depuis le début de la pandémie</p>
					</div>
					<h3 class="card-footer bg-success text-light mx-2 rounded-pill">{{data.0.rad}}</h3>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
