{% extends 'base.html.twig' %}

{% block title %}Les chiffres du COVID-19 en département
{% endblock %}

{% block body %}
	<div>
		<h1 class="title">Les chiffres du COVID-19 par département</h1>
		<h6 class="subtitle">Mise à jour le : {{data.0.date|date("d/m/Y")}}</h6>
	</div>

	<div class="album mt-5">
		<div class="">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for department in departments %}
					<div class="col">
						<div class="card shadow-lg h-100 m-2">
							<div class="card-body">
								<h5 class="card-title mb-3">{{ department.lib_dep }}</h5>
								<p class="card-text">Actuellement hospitalisée<span class="badge ms-2 bg-warning ">{{ department.hosp }}</span>
								</p>
								<p class="card-text">Actuellement en réanimation<span class="badge ms-2 bg-info">{{ department.rea }}</span>
								</p>
								<a href="{{ path('departement-detail', {'department' : department.lib_dep}) }}" class="bg-secondary btn text-light" role="button" aria-pressed="true">Plus de chiffres</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
