{% extends 'base.html.twig' %}

{% block title %}Les chiffres du COVID - {{ data.0.lib_dep }}
{% endblock %}

{% block body %}
	<div>
		<h1 class="mt-4 mb-2">Les chiffres du COVID - {{ data.0.lib_dep }}</h1>
		<h6 class="mb-3">Mise à jour le : {{data.0.date|date("d/m/Y")}}</h6>
	</div>

	<div class="row text-center">
		<div class="col">
			<div class="card mb-4 shadow-sm mt-4">
				<div class="card-header">
					<h4 class="my-0 fw-normal">Nombre d’hospitalisations</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title">{{ data.0.hosp }}</h1>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-4 shadow-sm mt-4">
				<div class="card-header">
					<h4 class="my-0 fw-normal">Nombre de personnes en réanimation</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title">{{ data.0.rea }}</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
